.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.card:hover {
  border: 1px solid black;
}

.card > img {
  width: 100%;
}

.card > h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.card > p {
  font-size: 15px;
}
